<%= nested_form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <br />

  <%= f.fields_for :cds do |cd_form| %>
    <div class="field">
      <p> CD info </p>
      <%= cd_form.label :name %>
      <%= cd_form.text_field :name %>
      <%= cd_form.label :description %>
      <%= cd_form.text_field :description %>
    </div>
    <%= cd_form.link_to_remove "[-] Remove this CD" %>
  <% end %>

  <%= f.link_to_add "[+] Add a new CD", :cds %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
